body{
    width: 500px;
    height: 100%;
}
/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left; margin-bottom: 0px!important;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.autocomplete-suggestions {
    border: 1px solid #bbb;
    background: #FFF;
    overflow: auto
}
.autocomplete-suggestion {
    padding: 4px 6px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    cursor: pointer
}
.autocomplete-selected {
    background: #f3f3f3
}
.autocomplete-suggestions strong {
    font-weight: 700;
    color: red;
}
.autocomplete-group {
    padding: 2px 5px
}
.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000
}

/*overide css from skeleton*/
h6{font-size: 11px;}